<!-- Footer -->
<footer class="footer-distributed">
    
    <!-- Izquierda -->
    <div class="footer-left">
        <h3>Pizzas<span>Pasadas</span></h3>
        <p class="footer-links">
            <a href="{{ url_for('dashboard') }}">Inicio</a>
            |
            <a href="{{ url_for('information') }}">Acerca</a>
            |
            <a href="{{ url_for('information') }}">Contacto</a>
        </p>
        <p class="footer-company-name">Copyright © 2023 <strong>PizzaHot</strong> All rights reserved</p>
    </div>

    <!-- Centro -->
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Chile</span>
                Santiago</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+567 74**9**258</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:sagar00001.co@gmail.com">pizzaHot@gmail.com</a></p>
        </div>
    </div>

    <!-- Derecha -->
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Acerca de la compañia</span>
            <strong>PizzaHot</strong> es una franquicia de restaurantes de comida rapida, especializada en la elaboración de pizzas al estilo estadounidense.
            encontraras
            una gran variedad de pizzas tales como
            Margherita, Peperonni, Neapolitan etc.
        </p>
        <div class="footer-icons mt-2">
            <a href="https://es-la.facebook.com/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2F%3Flang%3Des"><i class="bi bi-twitter"></i></a>
            <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</footer>
