{% set include_line = false %}
{% extends "base.html" %}

{% block titulo %}Dashboard{% endblock %}

{% include "includes/navbar.html" %}
{% block content %}
<!-- Banner -->
    <div class="card text-center mb-4">
        <div class="card-header">
            Bienvenido {{session.user.first_name}}, al inicio
        </div>
        <div class="card-body">
            <div class="titulo mb-1">
                <h3><span>Se</span> te <span>Antoja</span> una <span>Pizza</span> </h3>
            </div>
            <blockquote class="blockquote mb-0">
                <p>“Nadie puede ser sensato con el estómago vacío.”</p>
                <footer class="blockquote-footer">George Elliot</footer>
            </blockquote>
            <a href="{{ url_for('pizzas') }}" class="btn btn-warning mt-3">Nuestras pizzas</a>
        </div>
    </div>

    <!-- Lista de pizzas pasadas -->
    <div class="col">
        <div class="titulo">
            <h3>Pizza <span>Pasadas</span></h3>
        </div>
        {% if order_past_pizzas %}
            {% for order_past_pizza in order_past_pizzas %}
                <div class="card mt-2">
                    <h5 class="card-header">{{order_past_pizza.created_at.strftime("%d/%m/%Y")}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Pizza {{order_past_pizza.name}} - {{order_past_pizza.size}}</h5>
                        <p class="card-text">${{order_past_pizza.price}} CLP</p>
                        <a href="{{ url_for('add_order_pizza', pizza_id=order_past_pizza.pizza_id) }}" class="btn btn-success">Añadir a Orden </a>
                        <a href="{{ url_for('remove_order_pizza_0', pizza_id=order_past_pizza.pizza_id) }}" class="btn btn-danger" style="float: right;">Eliminar</a> 
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center my-4">No pizzas pasadas encontradas.</p>
        {% endif %}
    </div>

    <!-- Lista de pizzas de tu orden-->
    <div class="col">
        <div class="titulo">
            <h3>Tu <span>Orden</span></h3>
        </div>
        {% if order_pizzas %}
            {% for order_pizza in order_pizzas %}
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">{{order_pizza.name}} - {{order_pizza.size}}</h5>
                        <p class="card-text">${{order_pizza.price}} CLP</p>
                        <a href="{{ url_for('remove_order_pizza_1', pizza_id=order_pizza.pizza_id) }}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center my-4">No hay pizzas en tu orden.</p>
        {% endif %}
        <div class="text-end mt-2">
            <a href="{{ url_for('show_order') }}"class="btn btn-primary">
                Ir al pago
            </a>
        </div>
    </div>
{% endblock %}
