{% set include_line = false %}
{% extends "base.html" %}

{% block titulo %}Dashboard{% endblock %}

{% include "includes/navbar_dashboard.html" %}
{% block content %}
<h2 class="mb-5">Bienvenido, {{ session['user']['first_name']}}</h2>

    <div class="col">
        <h4>Ordenes pasadas</h4>

        <!--% if order_past_pizzas %}-->
            <!--% for order_past_pizza in orders_past_pizzas %}-->
                <div class="card">
                    <h5 class="card-header">Featu <!--{order_past_pizza.created_at}}--></h5>
                    <div class="card-body">
                        <h5 class="card-title">sddsd<!--{order_past_pizza.pizza_id.name}}--></h5>
                        <p class="card-text">$100 CLP<!---{order_past_pizza.pizza_id.name}}--></p>
                        <div class="text-end">
                            <a href="#"
                                class="btn btn-success">Añadir a Orden <!--"{ url_for('add_order_pizza') }}"-->
                            </a> 
                        </div>
                    </div>
                </div>
            <!--% endfor %}-->
        <!--% else %}-->
            <p class="text-center my-4">No ordenes pasadas encontradas.</p>
        <!--% endif %}-->
    </div>

    <div class="col">
        <h4>Tus ordenes</h4>

        <!--% if order_pizzas %}-->
            <!--% for order_pizza in orders_pizzas %}-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">sddsd<!--{order_pizza.name}}--></h5>
                        <p class="card-text">$100 <!---{order_pizza.price}}--> CLP</p>
                        <div class="text-end">
                            <a href="#" 
                                class="btn btn-danger">Eliminar <!--"{ url_for('remove_order_pizza') }}"-->
                            </a>
                        </div>
                    </div>
                </div>
            <!--% endfor %}-->
        <!--% else %}-->
            <p class="text-center my-4">No orden encontradas.</p>
        <!--% endif %}-->
        <div class="text-end">
            <a href="#"class="btn btn-primary"> <!--"{ url_for('show_order') }}"-->
                Ir al pago
            </a>
        </div>
        </div>
    </div>
{% endblock %}
