{% set include_line = False %}
{% extends "base.html" %}

{% include "includes/navbar.html" %}
{% block titulo %}Catalogo de Pizzas{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="card-title mb-5">Opciones de Pizzas</h1>
</div>
<div class="col">
    <!--% for pizza in pizzas %} -->
    <div class="card" style="width: 25rem;">
        <img src="..." class="card-img-top" alt="..."><!--pizza.img}}-->
        <div class="card-body">
            <h5 class="card-title">fdfdfdfdf<!--pizza.name}}--></h5>
            <p class="card-text" style="width: 22rem;">Tamaño: hghgh<!--pizza.size}}--> Masa: ghghghhhhhhhh<!--pizza.crust}}--></p>
            <p class="card-text">$<!--pizza.price}}-->344453 CLP</p>
            <a href="#" class="btn btn-success">Añadir a Orden</a> <!--"{ url_for('add_order_pizza') }}"-->
            <a href="#" class="btn btn-warning" style="float: right;">Editar</a> <!--"{ url_for('update_pizza') }}"-->

        </div>
    </div>
    <div class="text-end">
        <a href="#" class="btn btn-primary"> <!--"{ url_for('show_order') }}"-->
            Ir al pago
        </a>
    </div>
    <!--% endfor %}-->
</div>
{% endblock %}