{% set include_line = False %}
{% extends "base.html" %}

{% include "includes/navbar.html" %}
{% block titulo %}Agregar Aderezos{% endblock %}

{% block content %}
<div class="col" style="margin-right: 200px; margin-left: 200px">
    <div class="card my-4 p-4">
        <div class="card-body">
            <h4 class="card-title text-center">Añadir Aderezos</h4>
            <form action="{{ url_for('update_pizza', pizza_id=pizza.id) }}" method="post" class="mt-4">
                <div class="mb-3">
                    <label for="inputAuthor" class="form-label">Nombre</label>
                    <input type="text" name="name" value="{{ pizza.name }}" class="form-control" id="inputAuthor" disabled>
                </div>
                <div class="mb-3">
                    <label for="inputAuthor" class="form-label">Tamaño</label>
                    <input type="text" name="size" value="{{ pizza.size }}" class="form-control" id="inputAuthor" disabled>
                </div>
                <div class="mb-3">
                    <label for="inputAuthor" class="form-label">Masa</label>
                    <input type="text" name="crust" value="{{ pizza.crust }}" class="form-control" id="inputAuthor" disabled>
                </div>
            </form>
            <!--% for topping in toppings %}-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{topping.price}}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{topping.name}}
                </label>
            </div>
            <!--% endfor %}-->
            <a href="#" class="btn btn-success">Añadir a Orden</a> <!--"{ url_for('add_order_pizza', pizza_id=pizza.pizza_id) }}"-->
        </div>
    </div>
</div>
{% endblock %}
