{% set include_line = False %}
{% extends "base.html" %}

{% include "includes/navbar.html" %}
{% block titulo %}Catalogo de Pizzas{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="card-title mb-5">Opciones de Pizzas</h1>
</div>
<div class="row">
    {% for pizza in pizzas %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{pizza.img}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pizza.name}}</h5>
                <p class="card-text">Tamaño: {{pizza.size}} - Masa: {{pizza.crust}}</p>
                <p class="card-text">${{pizza.price}} CLP</p>
                <a href="{{ url_for('add_order_pizza', pizza_id=pizza.id) }}" class="btn btn-success">Añadir a Orden</a>
                <a href="" class="btn btn-warning" style="float: right;">Editar</a> <!--{ url_for('update_pizza', pizza_id=pizza.pizza_id) }}-->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="text-end mb-5">
    <a href="{{ url_for('show_order') }}" class="btn btn-primary">
        Ir al pago
    </a>
</div>
{% endblock %}
