{% set include_line = False %}
{% extends "base.html" %}

{% include "includes/navbar.html" %}
{% block titulo %}Agregar Aderezos{% endblock %}

{% block content %}
<!-- Editar pizza -->
<div class="row border rounded-5 p-3 bg-white shadow box-area">

    <!--------------------------- Left Box ----------------------------->
    <div class="col rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
        <div class="featured-image mb-3">
            <img src="{{pizza.img}}" alt="Bootstrap"  class="col rounded-4" style="width: 520px;">
        </div>
    </div>

    <!--------------------------- Right Box ---------------------------->
    <div class="col-md-6 right-box">
        <div class="row align-items-center">
            <div class="text-center">
                <div class="titulo">
                    <h3>Añadir <span>Aderezos</span></h3>
                </div>
            </div>
            <form action="{{ url_for('update_pizza', pizza_id=pizza.id) }}" method="post" class="mt-4">
                <div class="mb-3">
                    <label for="inputAuthor" class="form-label">Nombre</label>
                    <input type="text" name="name" value="{{ pizza.name }}" class="form-control" id="inputAuthor" disabled>
                </div>
                <div class="mb-3">
                    <label for="inputAuthor" class="form-label">Tamaño</label>
                    <input type="text" name="size" value="{{ pizza.size }}" class="form-control" id="inputAuthor" disabled>
                </div>
                <div class="mb-3">
                    <label for="inputAuthor" class="form-label">Masa</label>
                    <input type="text" name="crust" value="{{ pizza.crust }}" class="form-control" id="inputAuthor" disabled>
                </div>
                {% for topping in toppings %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topping_ids" value="{{topping.id}}" id="flexCheckDefault{{topping.id}}">
                    <label class="form-check-label" for="flexCheckDefault{{topping.id}}">
                        {{topping.name}}
                    </label>
                </div>
                {% endfor %}
                <input type="submit" value="Crear y Añadir a Orden" class="btn btn-warning mt-3">
            </form>
        </div>
    </div>
</div>
{% endblock %}
